<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GPositiveFillColor" value="255,0,0,255"/>
    <add key="GNegativeFillColor" value="255,0,255,0"/>
    <add key="AreaBorderColor" value="255,0,0,0"/>
    <add key="C0PointCircleBorderColor" value="255,0,0,0"/>
    <add key="C1PointCircleBorderColor" value="255,255,0,0"/>
    <add key="C2PointCircleBorderColor" value="255,255,0,0"/>
    <add key="BackgroundColor" value="255,255,255,255"/>
    <add key="TrackColor" value="255,150,255,0"/>
    <add key="PointColor" value="255,0,0,0"/>
    <add key="LegendColor" value="255,0,0,0"/>
    <add key="CircleRadius" value="1"/>
    <add key="CircleFillFactor" value="0,9"/>
    <add key="DefaultImageMimeType" value="image/bmp"/>
    <add key="DefaultImageQuality" value="97"/>
    <add key="CFormat" value="( {0} ; {1} ; {2} )"/>
    <add key="CriticalIterationsCount" value="50" />
    <add key="LimitAccuracy" value="0,00000001"/>
    <add key="RightHandColor" value="255,150,0,0"/>
    <add key="LeftHandColor" value="255,250,0,0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
