/Dissertation.6.0.ReSharper.user
/Dissertation.6.1.ReSharper.user
/Dissertation.sln.DotSettings.user
/Dissertation.suo
/Dissertation.v11.suo
/Libraries/RenormGroups.Processing/obj
/Libraries/RenormGroups.Processing/bin
/_ReSharper.Dissertation
/Libraries/RenormGroups/obj
/Libraries/RenormGroups/bin
/Libraries/RenormGroups.Configuration/obj
/Libraries/RenormGroups.Configuration/bin
/UI/RGUI/obj
/UI/RGUI/bin
/doubleClick/DynamicSystem/DynamicSystem.suo
/doubleClick/DynamicSystem/DynamicSystem/obj
/doubleClick/DynamicSystem/DynamicSystem/bin
/doubleClick/DynamicSystem/Backup/DynamicSystem.v11.suo
/doubleClick/DynamicSystem/Backup
/doubleClick/DynamicSystem/_UpgradeReport_Files
/doubleClick/DynamicSystem/UpgradeLog.htm
/doubleClick/DynamicSystem/UpgradeLog.XML
/UI/ReverseTransform/obj
/UI/ReverseTransform/bin
/UI/ReverseTransform/obj
/UI/ReverseTransform/bin
/UI/rg/bin
/UI/rg/obj
/rg/bin
/rg/obj
/UI/RGLines/bin
/UI/RGLines/obj
/Libraries/RgLib/obj
/Libraries/RgLib/bin
/UI/RGLinesDirect/obj
/UI/RGLinesDirect/bin
/UI/DClick/DynamicSystem/obj
/UI/DClick/DynamicSystem/bin
