<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Alpha" value="0,9"/>
    <add key="N" value="2"/>
    <add key="Count" value="1000"/>
    <add key="Acc" value="0,000001"/>
    <add key="InitialRect" value="-0,5;-0,5;1;1"/>
    <add key="Const" value="0,2" />
  </appSettings>
</configuration>
