<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Alpha" value="2,0"/>
    <add key="N" value="2"/>
    <add key="Count" value="1000"/>
    <add key="Acc" value="0,000001"/>
  </appSettings>
</configuration>
